
div {
    width: 50%;
    /*display: inline-block;*/
    height: 100px;
    float: left;
}

div:nth-child(1) {
    background-color: blueviolet;
}

div:nth-child(2) {
    background-color: royalblue;
}
